**/.vscode/
**/.terraform/
vendor
.idea
/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.iml
*.pem
*.tf.json
*.plan
*.pyc
*.log
*.tf~
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup
**/terraform.tfstate.*.backup

aws.env
tf.env